In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("results/table_of_results.csv")

In [15]:
df.set_index("Method").div(df.set_index("Method").loc["numpy"])

            16x16     32x32     64x64   128x128   256x256   512x512  1024x1024
Method
python    0.03107  0.012668  0.006710  0.005442  0.005602  0.006120   0.006024
asm       2.78562  1.349248  0.761365  0.628512  0.622103  0.702570   0.704819
c         3.71749  1.700943  0.916147  0.704880  0.665903  0.746634   0.849398
asm_simd  2.64856  1.364813  0.807231  0.677019  0.670486  0.769890   0.861446
c_avx     4.48593  1.900077  1.021052  0.800592  0.755539  0.832313   0.945783
numpy     1.00000  1.000000  1.000000  1.000000  1.000000  1.000000   1.000000

In [14]:
df.set_index("Method").div(df.set_index("Method").loc["numpy"]).T.mean()

Method
python      0.010520
asm         1.079177
c           1.328771
asm_simd    1.114207
c_avx       1.534469
numpy       1.000000
dtype: float64